@page "/teams"
<PageTitle>Teams</PageTitle>
<PageHeaderComponent PageHeader="Teams"/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Region</th>
        </tr>
    </thead>
    <tbody>
        @for (var i= 0; i < teams.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@teams[i].Id</td>
                <td><a href=@($"/team/{teams[i].Id}") class="nav-link">@teams[i].Name</a></td>
                <td>@teams[i].Region</td>
            </tr>
        }

    </tbody>
</table>
<input type="text" @bind-value="@Color" @bind-value:event="oninput"/>

@code {
    [CascadingParameter(Name = "Color")]
    public string Color { get; set; }

    private List<Team> teams;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        teams = new List<Team>
        {
            new Team {Id = 1, Name = "Manchester", Region = "England"},
            new Team {Id = 2, Name = "Madrid", Region = "Spain"},
            new Team {Id = 3, Name = "Lisbon", Region = "Portugal"},
            new Team {Id = 4, Name = "Dortmund", Region = "Germany"},
            new Team {Id = 5, Name = "Turin", Region = "Italy"} ,
        };
    }
}
